In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("e-commerce_dataset.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [4]:
df.shape

(1500, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   int64
 2   Profit        1500 non-null   int64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
 6   PaymentMode   1500 non-null   object
dtypes: int64(3), object(4)
memory usage: 82.2+ KB

| Column Name  | Description                      |
| ------------ | -------------------------------- |
| Order ID     | Unique identifier for each order |
| Amount       | Total sales amount per order     |
| Profit       | Profit earned from the order     |
| Quantity     | Number of units sold             |
| Category     | Main product category            |
| Sub-Category | Specific product type            |
| PaymentMode  | Mode of payment used             |

In [6]:
df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [7]:
df.describe()

            Amount      Profit     Quantity
count  1500.000000  1500.00000  1500.000000
mean    291.847333    24.64200     3.743333
std     461.924620   168.55881     2.184942
min       4.000000 -1981.00000     1.000000
25%      47.750000   -12.00000     2.000000
50%     122.000000     8.00000     3.000000
75%     326.250000    38.00000     5.000000
max    5729.000000  1864.00000    14.000000

In [8]:
df['Category'].value_counts()

Category
Clothing       949
Electronics    308
Furniture      243
Name: count, dtype: int64

In [9]:
df['PaymentMode'].value_counts()

PaymentMode
COD            684
UPI            331
Debit Card     202
Credit Card    163
EMI            120
Name: count, dtype: int64

- The dataset represents transactional e-commerce sales data.
- Furniture and Electronics are the major product categories.
- The presence of profit and quantity columns enables profitability and demand analysis.
- Payment mode data allows understanding of customer preferences.