In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("e-commerce_dataset.csv")
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [12]:
df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64

In [13]:
df.dtypes

Order ID        object
Amount           int64
Profit           int64
Quantity         int64
Category        object
Sub-Category    object
PaymentMode     object
dtype: object

In [14]:
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [15]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [16]:
df['Category'] = df['Category'].str.strip().str.title()
df['Sub-Category'] = df['Sub-Category'].str.strip().str.title()
df['PaymentMode'] = df['PaymentMode'].str.strip().str.upper()

In [17]:
df['Profit_Margin'] = (df['Profit'] / df['Amount']) * 100

In [18]:
furniture_df = df[df['Category'] == 'Furniture']
furniture_df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Profit_Margin
1,B-26055,5729,64,14,Furniture,Chairs,EMI,1.117123
2,B-25955,2927,146,8,Furniture,Bookcases,EMI,4.988042
13,B-25756,729,-492,5,Furniture,Bookcases,UPI,-67.489712
14,B-25761,2188,1050,5,Furniture,Bookcases,CREDIT CARD,47.989031
16,B-25786,1854,433,5,Furniture,Bookcases,CREDIT CARD,23.354908

In [19]:
furniture_df.describe()

            Amount       Profit    Quantity  Profit_Margin
count   243.000000   243.000000  243.000000     243.000000
mean    523.378601    43.111111    3.888889      -4.435051
std     674.855091   268.352996    2.422348      45.254210
min      20.000000 -1981.000000    1.000000    -242.553191
25%     133.500000   -36.000000    2.000000     -26.604824
50%     284.000000    13.000000    3.000000       4.988042
75%     660.500000    86.500000    5.000000      24.814481
max    5729.000000  1864.000000   14.000000     136.656891

In [20]:
df.to_csv("cleaned_e-commerce_dataset.csv", index=False)

- The dataset has been cleaned and standardized for analysis.
- Numerical columns are correctly formatted.
- Duplicate records have been removed.
- A new feature, Profit Margin, has been created for deeper profitability analysis.
- Furniture category data is prepared for focused exploration.